@model IEnumerable<Capstone.Models.Announcement>

@{
    ViewBag.Title = "Home Page";
}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body, h1, h2, h3, h4, h5, h6 {
        font-family: "Lato", sans-serif
    }

    .w3-bar, h1, button {
        font-family: "Montserrat", sans-serif
    }

    .fa-anchor, .fa-coffee {
        font-size: 200px
    }
</style>

<div class="jumbotron container" style="background-color: white;">
    <div class="row">
        <div class="col-md-6">
            <img src="~/Images/newlifelogo.jpg" alt="New Life" height="200" width="700" />
        </div>
        <div class="col-md-2">
            <br />
        </div>
        <div class="col-md-4">
            <br />
            <p style="color:#f05a28; font-size:30px;">Join us for Worship</p>
            <p>Sundays at 9 am</p>
        </div>
    </div>
</div>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-12 w3-container">
    <div class="row">
        <div class="col-md-4">
            <br />
            <br />
            <img src="~/Images/cmalogo.png" alt="CMA" height="400" width="400" style="object-fit:contain" class="img-responsive w3-padding-32 w3-margin-right"/>
        </div>
        <div class="col-md-8">
            <div class="w3-container w3-black w3-center w3-opacity">
                <h3 style="color:white;">Announcements</h3>
            </div>
            
            <table class="table table-hover" style="font-size:13px" frame="box">
                <thead>
                    <tr>
                        <th>Posted On</th>
                        <th>@Html.DisplayNameFor(model => model.Description)</th>
                        <th>@Html.DisplayNameFor(model => model.Start)</th>
                        <th>@Html.DisplayNameFor(model => model.End)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
            {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Created)</td>
                            <td>@Html.DisplayFor(modelItem => item.Description)</td>
                            <td>@Html.DisplayFor(modelItem => item.Start)</td>
                            <td>@Html.DisplayFor(modelItem => item.End)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

 @*Second Grid 
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
    <div class="w3-content">
        <div class="w3-third w3-center">
            <i class="fa fa-coffee w3-padding-64 w3-text-red w3-margin-right"></i>
        </div>

        <div class="w3-twothird">
            <h2>Announcements</h2>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Posted On</th>
                        <th>@Html.DisplayNameFor(model => model.Description)</th>
                        <th>@Html.DisplayNameFor(model => model.Start)</th>
                        <th>@Html.DisplayNameFor(model => model.End)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
            {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Created)</td>
                            <td>@Html.DisplayFor(modelItem => item.Description)</td>
                            <td>@Html.DisplayFor(modelItem => item.Start)</td>
                            <td>@Html.DisplayFor(modelItem => item.End)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>*@

<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">Quote of the day: live life</h1>
</div>

<section class="main-section contact w3-padding-24">

    <div class="row">
        <br />
    </div>

    <div class="w3-row-padding w3-light-grey w3-padding-24 w3-container" style="border: thin solid black">
        <div class="col-lg-5 col-sm-6 w3-container w3-opacity" style="border-radius: 10px;">
            <div>
                <h4>Address:</h4>
                <span>2330 W Scott Street<br>Milwaukee, WI 53204</span>
            </div>
            <div>
                <h4>Phone:</h4>
                <span>1-800-BOO-YAHH</span>
            </div>
            <div>
                <h4>email:</h4>
                <span>newlife@gmail.com</span>
            </div>
            <div>
                <h4>Hours:</h4>
                <span><strong>Sunday Service:</strong> 9am - 12pm</span>
            </div>
        </div>
        <div class="col-lg-1 col-sm-2 wow fadeInLeft" style="border: thin solid black">
            <br />
        </div>
        <div class="col-lg-1 col-sm-2 wow fadeInLeft" style="border: thin solid black">
            <br />
        </div>
        <div class="col-lg-5 col-sm-6" style="border: thin solid black">
                <div>
                    <h3>Prayer Request</h3>
                </div>
                <div style="padding-bottom: 20px;">
                    <img src="~/Images/prayer.png" height="250" width="400" />
                </div>
            <div style="padding-bottom: 20px;">
                "Don’t worry about anything, but pray about everything."  -- Philippians 4:6
            </div>
                <div>
                    @Html.ActionLink("Prayer Request", "PrayerRequest", null, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
        
</section>
<!-- Footer -->
@*<footer class="w3-container w3-padding-64 w3-center w3-opacity">
    <div class="w3-xlarge w3-padding-32">
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
    </div>
</footer>*@

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>
