@using Capstone.Extensions

@{ 
    var userType = User.Identity.GetAccountTypeID();
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/Content/fullcalendarcss")
    @Scripts.Render("~/bundles/modernizr")    

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("New Life HAC", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @*<li>@Html.ActionLink("About", "About", "Home")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                    <li>@Html.ActionLink("Calendar", "Calendar", "Events")</li>                    
                    <li>@Html.ActionLink("Events Page", "IndexEventsPage", "Events")</li>
                    <li>@Html.ActionLink("Prayer Request", "PrayerRequest", "Home")</li>
                    <li>@Html.ActionLink("Online Giving", "PayPal", "PayPal")</li>

                    @if (Request.IsAuthenticated)
                    {
                        if (userType != "3")
                        {
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    Activities <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu navbar-inverse" role="menu">
                                    <li><a href="#">@Html.ActionLink("Announcements", "Index", "Announcements")</a></li>
                                    <li><a href="#">@Html.ActionLink("Events", "Index", "Events")</a></li>
                                    <li><a href="#">@Html.ActionLink("Donations Report", "/Index", "PayPal")</a></li>
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    Attendance <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu navbar-inverse" role="menu">
                                    <li><a href="#">@Html.ActionLink("Take Attendance", "Index", "Attendances")</a></li>
                                    <li><a href="#">@Html.ActionLink("Attendance Report", "IndexReport", "Attendances")</a></li>
                                </ul>
                            </li>
                        }
                        else if (userType == "3")
                        {
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    Attendance <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu navbar-inverse" role="menu">
                                    <li><a href="#">@Html.ActionLink("Take Attendance", "Index", "Attendances")</a></li>
                                    <li><a href="#">@Html.ActionLink("Attendance Reports", "IndexReport", "Attendances")</a></li>
                                </ul>
                            </li>
                        }
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - NLHAC</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/fullcalendarjs")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
