@model Capstone.Models.Attendance

@{
    ViewBag.Title = "Details";
}

@*<h2>Details</h2>*@

<div>
    <br />
    <h4>Attendance Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Service)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Service)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SundaySchool)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SundaySchool)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Guest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Guest)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>
     

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
