@model IEnumerable<Capstone.Models.Attendance>
@using Capstone.Extensions


@{
    ViewBag.Title = "Index";
    var userType = User.Identity.GetAccountTypeID();
    if (userType == "3")
    {
        Layout = "~/Views/Shared/_LayoutVolunteer.cshtml";
    }
}

<br />
<p>
    @Html.ActionLink("Take Attendance", "Create", null, new { @class = "btn btn-primary" })
</p>
<br />

<h4>Today's Attendance</h4>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Service)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SundaySchool)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Guest)
        </th>    
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @*@item.Date.ToString("dd/MM/yyyy")*@
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Service)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SundaySchool)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Guest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
