@model Capstone.Models.Event
@using Capstone.Extensions

@{
    ViewBag.Title = "DetailsEventsPage";

    var userType = User.Identity.GetAccountTypeID();
}


<div class="container">
    <div class="row" style="padding-top: 20px; padding-bottom: 20px;" >
        <div class="col-md-2">
            <br />
        </div>
        <div class="col-md-8" style="text-align:center; font-size:40px">
            @Model.Name
        </div>
        <div class="col-md-2">
            <br />
        </div>
    </div>
    @if (Model.ImagePath != null)
    {
        <div class="row">
            <div class="col-md-2">
                <br />
            </div>
            <div class="col-md-8" style="text-align:center; font-size:40px">
                <img src="~/Images/@Model.ImagePath" height="300" width="600"/>
            </div>
            <div class="col-md-2">
                <br />
            </div>
        </div>
    }
    <div class="row">
        <br />
    </div>
    <div class="row">
        <div class="col-md-7" style="border: thin solid black; border-radius: 10px; padding-top: 15px; background-color:aliceblue">
            <h4>About the Event</h4>
            <hr />
            <p>@Html.DisplayFor(model => model.Description)</p>
            <div>
                <br />
                <br />
            </div>
            <div style="padding-bottom: 20px;">
                @if (Model.Register == true)
                {
                    if (DateTime.Now <= Model.Start)
                    {
                        <br />
                        <h4>Sign up here</h4>
                        @Html.ActionLink("Register", "MemberRoute", new { id = Model.ID }, new { @class = "btn btn-primary" })
                    }
                }
            </div>
        </div>
        <div class="col-md-1">
            <br />
        </div>
        <div class="col-md-4" style="border: thin solid black; background-color: lightgoldenrodyellow; border-radius: 10px; padding-top: 15px; padding-bottom: 10px;">
            <h3>Event Details</h3>
            <hr />
            <h5><i>When</i></h5>
            <strong>@Html.DisplayFor(model => model.Start)</strong>
            <i>to</i>
            <strong>@Html.DisplayFor(model => model.End)</strong>

            <h5><i>Where</i></h5>
            <strong>@Html.DisplayFor(model => model.Location)</strong>
            <br />@Html.DisplayFor(model => model.Address) , @Html.DisplayFor(model => model.City) @Html.DisplayFor(model => model.State) @Html.DisplayFor(model => model.Zip)
            <p></p>

            <h5><i>Contact</i></h5>
            <strong>@Html.DisplayFor(model => model.ContactName)</strong>
            <br />@Html.DisplayFor(model => model.ContactEmail)
            <br />@Html.DisplayFor(model => model.ContactPhone)
        </div>
    </div>
</div>

<br />
<p>
    @if (Request.IsAuthenticated && userType != "3")
    {
        @Html.ActionLink("Edit | ", "Edit", new { id = Model.ID })
    }
    @Html.ActionLink("Back to List", "IndexEventsPage")
</p>
