@model Capstone.Models.Event

@{
    ViewBag.Title = "DetailsEventsPage";
}

@*<h2>@Model.Name</h2>*@

<div class="container" style="border: thin solid black; background-color:aliceblue">
    <div class="row" style="border: thin solid black; padding-bottom: 20px;" >
        <div class="col-md-2">
            <br />
        </div>
        <div class="col-md-8" style="text-align:center; font-size:40px">
            @Model.Name
        </div>
        <div class="col-md-2">
            <br />
        </div>
    </div>
    @if (Model.ImagePath != null)
    {
        <div class="row">
            <div class="col-md-2">
                <br />
            </div>
            <div class="col-md-8" style="text-align:center; font-size:40px">
                <img src="~/Images/@Model.ImagePath" height="300" width="600"/>
            </div>
            <div class="col-md-2">
                <br />
            </div>
        </div>
    }
    <div class="row" style="border: thin solid black">
        <div class="col-md-6" style="border: thin solid black">
            <h4>About the Event</h4>
            <hr />
            <p>@Html.DisplayFor(model => model.Description)</p>
        </div>
        <div class="col-md-1" style="border: thin solid black; text-align:center;">
            <br />
        </div>
        <div class="col-md-1" style="border: thin solid black; text-align:center;">
            <br />
        </div>
        <div class="col-md-4" style="border: thin solid black; background-color: lightgoldenrodyellow; border-radius: 10px; padding-top: 15px; padding-bottom: 10px;">
            <h3>Event Details</h3>
            <hr />
            <h5><i>When</i></h5>
            <p>@Html.DisplayFor(model => model.Start) @Html.DisplayFor(model => model.End)</p>

            <h5><i>Where</i></h5>
            @Html.DisplayFor(model => model.Location)
            <br />@Html.DisplayFor(model => model.Address) , @Html.DisplayFor(model => model.City) @Html.DisplayFor(model => model.State) @Html.DisplayFor(model => model.Zip)
            <p></p>

            <h5><i>Contact</i></h5>
            @Html.DisplayFor(model => model.ContactName)
            <br />@Html.DisplayFor(model => model.ContactEmail)
            <br />@Html.DisplayFor(model => model.ContactPhone)
        </div>
        <div class="row" style="border: thin solid black">
            <div class="col-md-4" style="border: thin solid black">
                @Html.ActionLink("Register", "MemberRoute", new { id = Model.ID }, new { @class = "btn btn-primary" })
            </div>
        </div> 
    </div>
</div>

@*<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Start)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Start)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.End)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.End)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactPhone)
        </dd>

    </dl>
</div>*@
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "IndexEventsPage")
</p>
