@model IEnumerable<Capstone.Models.PayPalModel>

@{
    ViewBag.Title = "Index";
}

<head>
    <link href="~/Content/jquery.datetimepicker.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/jquery.datetimepicker.full.js"></script>
</head>

<h2>Donations Report</h2>

<table class="table">
    <tr>
        <th>
            Select Date Range
        </th>
        @using (Html.BeginForm("/Index", "PayPal", FormMethod.Post))
        {
        <th>           
            @Html.TextBox("startDate", null, new { @class = "date-time-dropdown", type = "datetime" })
            @Html.TextBox("endDate", null, new { @class = "date-time-dropdown", type = "datetime" })
            
            <input type="submit" value="Submit">           
        </th>
        }
    </tr>
    <tr>       
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentAmount)
        </th>        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            $@Html.DisplayFor(modelItem => item.PaymentAmount)
        </td>

    </tr>
}
    <tr>
        <th>
            Total Donations
        </th>
        <th>
            $@ViewBag.TotalDonations
        </th>
    </tr>
</table>

<script>
    $('.date-time-dropdown').datetimepicker({
        timepicker: false,
        step: 15,
        format: 'm/d/Y'
    });

</script>